version: '3.8'

services:
  react-app:
    build: .
    image: wintkaythweaugn/wint-portfolio-final:latest
    container_name: react-portfolio-app
    ports:
      - "3000:80"
    restart: always

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare-tunnel
    restart: always
    command: tunnel run
    environment:
      TUNNEL_TOKEN: ${CF_TUNNEL_TOKEN} 
      
      
      